{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  
  <p><span class="label label-success">{{message}}</span></p>
  <p> 
      <a href="{{ path('insert')}}">заполнить таблицы</a>
  </p>
  <p>
      <a href="{{ path('reset')}}">сбросить таблицы</a>
  </p> 

{% endblock %}
